body{
    padding:0;
    margin:0;
    height:100vh;
    background-color:#ff393c;
}
h3{
    font-size:30px;
    font-family:'Segoe UI', sans-serif;
}
.icon{
    display:flex;
    padding:5px;
    background-color:#ff393c;
}
.icon i{
    margin-top:40px;
    margin-right:3px;
    width:40px;
    font-size:25px;
    margin-left:10px;
}
audio{
    display:flex;
    margin-left:63%;
    margin-top:6px;
    padding:20px;
}
.card-1{
    display:flex;
    width:100%;
    height:40%;
    background-color:black;
    justify-content:center;
    align-items:center;
}
.card-1 h1{
    text-align:center;
    color:white;
    font-family:'Segoe UI',sans-serif;
}
.card-1 p{
    color:white;
    font-family:'Trebuchet MS', sans-serif;
    font-style:italic;
}
.contents{
    display:flex;
}
.contents p{
    text-align:justify;
    flex:1;
    padding:5% 5%;;
    margin-left:5px;
    color:white;
    font-family:"Trebuchet MS", sans-serif;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 6px 11px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px black, 5px 5px 6px 11px rgba(0,0,0,0);
}
.contents span{
    display:block;
    text-align:center;
    text-transform:uppercase;
    font-weight:bold;
    color:white;
    font-family:'Segoe UI', sans-serif;
    font-size:20px;
    margin-bottom:10px;
}

.prizes ul{
    display:flex;
    justify-content:center;
    align-items:center;
}
.prizes li{
    list-style:none;
}
.prizes i{
    display:inline;
    justify-content:center;
    width:200px;
    font-size:50px;  
}
.prizes i:hover{
    color:white;
    cursor:pointer;
    font-size:70px;
}
.icons{
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:"Segoe UI", sans-serif;
}
.icons span {
    display:block;
    text-transform:uppercase;
    font-weight:bold;
}
.icons p{
    flex:1;
    text-align:center;
    font-size:20px;
    font-style:italic;
}
.icons a{
    color:black;
}
h2{
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:"Trebuchet Ms", sans-serif;
    color:white;
}
.btn{
    display:flex;
    text-align:center;
    justify-content:center;
    align-items:center;

}
.btn button{
    margin-bottom:20px;
    width:200px;
    height:50px;
    background:transparent;
    border:2px solid black;
    border-radius:40px;
}
.btn button a{
    color:black;
    text-decoration:none;
    font-family:"Trebuchet Ms";
    text-transform:uppercase;
    font-weight:bold;
    font-size:15px;
}
.btn a:hover{
    color:#f00f1e;
}
.btn button:hover{
    width:220px;
    height:70px;
    cursor:pointer;
    background-color:white;
}